<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Handwritten Digit Recognition</title>
  </head>
  <style>
  </style>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/recog">Recognize</a></li>
      </ul>
    </nav>
    <section class="des">
      Today's world desperately needs the technology known as handwritten text recognition.
      This digit recognition system is used to identify numbers from a variety of documents, including emails, bank checks, papers, and photographs etc.
      Before the introduction of this technology, we relied on handwriting texts, which can lead to mistakes.
      Physical data cannot be stored or accessed efficiently.
      The experiment demonstrates reading handwritten numbers from 0 to 9 using the well-known MNIST dataset.
      Convolutional neural networks, or artificial neural networks, will be used in this case.
    </section>
  </body>
</html>
