<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Handwritten Digit Recognition</title>
  </head>
  <style>
  </style>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/recog">Recognize</a></li>
      </ul>
    </nav>
    <section class="des">
      Handwritten Text Recognition is a technology that is much needed in this
      world as of today. This digit Recognition System is used to recognize the
      digits from different sources like emails, bank cheques, papers, images
      etc. Before papers implementation of this technology we have relied on
      writing texts with our own hands which can result in errors. It's
      difficult to store and access physical data with efficiency. The project
      presents recognizing the handwritten digit (0 to 9) from the famous MNIST
      dataset. Here we will be using artificial neural networks / convolutional
      neural network
    </section>
  </body>
</html>
